@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.ttf') format('eot'),
    
    }
    

.hea1{
    display: block;
    display: flex;
    background-color: white;
}
.hea1,.imag1{
    
    height: 73px;
}

.nav1{
    
    
    margin-left: 567px;

}

.nav1,.li1{
    float: right;
    display: flex;

}
.li1 a{
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.h1,.p1{
    text-align: center;
}

.msl{
    
    width: 1334px;
    height: 370.25;
    margin-top: 20px;

}

.imagsli{ /*image de slide */
    display: flex;
    animation-duration: 50s;
    animation-name: mesimages;
    animation-iteration-count: infinite;
    
}

@keyframes mesimages{
    0% {
        transform: translateX(0);
    }
    50% {transform: translateX(-1334px)

    }
    100% {
        transform: translateX(0)
    }
}

.slide{
   width: 1334px;
    overflow: hidden;
    position: relative;
}

.hdsec{
    position: absolute;
    
    margin-top: 100px;
    top: 20px;
    left: 70px;

}

.hd,.pd{
    color:white;
}

samp{
    color: rgba(64, 67, 228, 0.781);
    font-family: none;
}

.samp1{
    color: white;
    font-family: none;
    background-color:rgba(64, 67, 228, 0.781) ;
}



.sec1{
    
    display: flex;
    
    margin-left: 72px;

}

.p2{
    text-align: center;
}

.div1{
    text-align: center;
}

.div2{
    background-color: rgba(148, 147, 147, 0.144);
    display: flex;
    border: grey;
    
    width: 336px;
    margin-left: 500px;
    
    margin-bottom: 26px;
    margin-top: 19px;


}

.p0{
    text-align: center;
    margin-left: 20px;
}

.imapo{
    
    width: 284px;
    height: 218px;
    margin-left: 20px;

}
.divpo{
    display: flex;
    
    margin-bottom: 20px;

}
.divpo1{
    display: flex;
}

.sec2{
    background-color: rgba(148, 147, 147, 0.144);
    
    height: 512px;
    
    margin-left: 77px;

    overflow: hidden;
}

.psam{
    color: white;
    font-family: none;
    background-color: rgba(0, 17, 255, 0.37);
}

.ppro{
    text-align: center;
}

.icones{
    display: flex;
}

.imco{
    
    margin-top: 37px;
    margin-right: 20px;

}

footer {
    background-image: url(../images/maps.jpg);
    font-family: Montserrat, "sans-serif";
    display: flex;
    justify-content: center;
    color: #303030;
    }
    
    .contactez-nous {
    width: 700px;
    border: 1px solid;
    border-radius: 8px;
    padding: 0 50px 0 50px;
    background: white;
    }

    .contactez-nous > h1 {
        font-weight: 500;
        }
        
        .contactez-nous > p {
        font-weight: 300;
        }
        
        form div {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 83px;
        margin-top: 25px;
        }
        
        form div > label {
        margin-bottom: 7px;
        font-weight: 600;
        }
        
        form div > input, form div > select, form div > textarea {
        background: gray;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 500;
        font-family: Montserrat, "sans-serif";
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
        }
        
        form div > input, form div > select {
        height: 50px;
        padding-left: 10px;
        }
        
        form div > select {
        appearance: none;
        background-size: 15px;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDIxMy4zMzMgMjEzLjMzMyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgY2xhc3M9IiI+PGc+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+Cgk8Zz4KCQk8cG9seWdvbiBwb2ludHM9IjAsNTMuMzMzIDEwNi42NjcsMTYwIDIxMy4zMzMsNTMuMzMzICAgIiBmaWxsPSIjMzAzMDMwIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBzdHlsZT0iIiBjbGFzcz0iIj48L3BvbHlnb24+Cgk8L2c+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPC9nPjwvc3ZnPg==');
        background-position: right 10px top 50%;
        background-repeat: no-repeat;
        }
        
        form div > textarea {
        height: 195px;
        padding: 15px 0px 0px 10px;
        }
        
        form div > input::placeholder, form div > textarea::placeholder {
        color: black;
        }
        
        form div > select:invalid {
        color: black;
        }
        
        form div > select option {
        background: black;
        color: #303030;
        }
        
        form div:last-child {
        align-items:center;
        margin-top: 20px;
        }
        
        form button {
        width: 450px;
        max-width: 500px;
        height: 60px;
        font-weight: 700;
        font-size: 28px;
        background: white;
        border: rgba(48, 48, 48, 0.5) solid 1px;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
        color: #303030;
        }
        

    
